html,
body {
	--block-accent-color: #1d9bf0;
	--block-shadow-color: #fafafa;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

main {
	margin: 24px auto;
	max-width: 800px;
	color: #222;
}

.block-copy {
	font-weight: 400 !important;
	--block-accent-color: #5741d1;
	--block-shadow-color: #fafafa;
}

.flexbox {
	display: flex;
	align-items: center;
}
/* https://thesephist.github.io/blocks.css/ */

input {
	outline: none;
	border: 0;
}
